# /.dockerignore

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

.git
.gitignore

.DS_Store

# build artifacts / local files
*.log
*.sqlite
*.db

# IMPORTANT: do NOT ignore package-lock.json
# package-lock.json
